@keyframes blink {
    from { opacity: 1; }
    to { opacity: .5; }
}

*, html * {
    --menu-height: 4rem; 

    scrollbar-width: thin;
    scroll-padding-top: var(--menu-height);
    scroll-behavior: smooth;
    scrollbar-color: var(--bs-primary) #00000017;
}

.blink {
    animation: blink 1.5s infinite alternate; 
}

header {
    background-color: var(--bs-primary);
}
header .image {
    text-align: center;
}
header .image img {
    height: 17.5rem;
}

.navigate {
    background-color: var(--bs-primary);
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bs-gray-dark);
}

/* Меню-бургер */

.open {
    display: none;
    background-color: var(--bs-primary);
    padding: 0.5rem 1rem 0 1rem;
}
.open span:hover {
    cursor: pointer;
}
.open span img {
    height: 2rem;
    opacity: .35;
}

.offcanvas {
    background-color: var(--bs-primary);
}
.offcanvas a {
    display: block;
    padding: 1rem 1.5rem;
}

@media (width < 768px) {
    .navigate {
        display: none;
    }
    .open {
        display: block;
    }
}

/* Секции сайта */
 
.about {
    padding: 5rem 0 4rem 0;
    text-align: center;
    box-shadow: 0px 5px 5px -5px rgba(23, 23, 23, .7) inset;
}
.about .skills {
    padding-top: 1.5rem;
    justify-content: center;
}

.education {
    padding: 4rem 0 3rem 0;
    text-align: center;
    box-shadow: 0px -5px 5px -5px rgba(23, 23, 23, .7) inset;
}
.education .item {
    margin-bottom: 2rem;
}
.education .item img {
    height: 3.5rem;
    margin-bottom: 1.5rem;
}

.creativity {
    padding: 4rem 0;
    text-align: center;
    background-color: var(--bs-primary);
    color: var(--bs-white);
}
.creativity .poems {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.creativity .poems a {
    margin: 0 1.5rem;
}
.creativity .poems a img {
    height: 3.5rem;
    padding: .75rem;
    border-radius: .5rem;
    background-color: var(--bs-white);
    transition: all 1s;
}
.creativity .poems a img:hover {
    background-color: var(--bs-secondary);
}

.projects {
    padding: 5rem 0 2.5rem 0;
    text-align: center;
    box-shadow: 0px 5px 5px -5px rgba(23, 23, 23, .7) inset;
}
.projects .items {
    justify-content: center;
    margin-top: 3rem;
}

.awards {
    padding: 4rem 0 5rem 0;
    text-align: center;
    box-shadow: 0px -5px 5px -5px rgba(23, 23, 23, .7) inset;
}
.awards .items {
    margin-top: 1rem;
}

.contacts {
    padding: 4rem 0;
    text-align: center;
    background-color: var(--bs-primary);
    color: var(--bs-white);
}
.contacts .mail {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts .mail p img {
    height: 1.5rem;
    margin-right: .5rem;
}
.contacts .mail span {
    margin: 0 1.5rem;
}
.contacts .social {
    margin-top: 2.5rem;
}
.contacts .social a {
    margin: 0 .75rem;
}
.contacts .social img {
    height: 2.5rem;
}
@media (width < 576px) {
    .contacts .mail {
        display: block;
    }
    .contacts .mail span {
        display: none;
    }
}

.gallery {
    padding: 5rem 0;
    box-shadow: 0px 5px 5px -5px rgba(23, 23, 23, .7) inset;
}
.gallery img {
    height: 20rem;
    margin: .5rem;
    border: 1px solid #aaa;
}
@media (width < 576px) {
    .gallery img {
        height: 15rem;
    }
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--bs-primary);
    box-shadow: 0px -5px 5px -5px rgba(23, 23, 23, 0.7);
}
footer img {
    height: 10rem;
}
footer p {
    font-size: .75rem;
    color: var(--bs-white);
    opacity: .55;
}
footer p:has(> a:hover) {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
@media (width < 576px) {
    footer img {
        height: 7rem;
    }
}

@media (width < 768px) {
    .projects .container, 
    .education .container,
    .awards .container,
    .navigate .container {
        max-width: 100%;
    }
}

/* Стрелка наверх страницы */

.scrollup {
    width: 2rem;
    height: 2rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: none;
    z-index: 2;
}
.scrollup:hover {
    cursor: pointer;
}
@media (width < 576px) {
    .scrollup {
        bottom: 1.25rem;
        right: 1.25rem;
    }
}